<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--<strong>Name:</strong>-->
<!--<%= @recipe.name %>-->
<!--</p>-->

<!--<p>-->
<!--<strong>Description:</strong>-->
<!--<%= @recipe.description %>-->
<!--</p>-->


<!--<p>-->
<!--<strong>Duration:</strong>-->
<!--<%= @recipe.duration %>-->
<!--</p>-->

<!--<p>-->
<!--<strong>Photo:</strong>-->
<!--&lt;!&ndash;-->
<!--< image_tag @recipe.photo %>-->
<!--&ndash;&gt;-->
<!--</p>-->

<!--<p>-->
<!--<strong>User:</strong>-->
<!--<%= @recipe.user %>-->
<!--</p>-->

<!--<%= link_to 'Edit', edit_recipe_path(@recipe) %>-->
<!--<%= link_to 'Back', recipes_path %>-->

<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Amatic+SC:700|Montserrat' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Playfair+Display' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300' %>

<div class="container">
  <hr>
  <div class="row row-margin-bottom">
    <div class="col-md-12 no-padding lib-item" data-category="view">
      <div class="lib-panel">
        <div class="row box-shadow">
          <div class="col-md-8">
            <div class="maxsize">
              <%= image_tag @recipe.photo %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="lib-row">
              <div class="montserrat">
                <h2>
                  <%= @recipe.name %>
                </h2>
              </div>
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-header">
              Description :
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-desc">
              <%= @recipe.description %>
            </div>
            <br>
            <div class="lib-row lib-social">
              <div class="text-center center-block">
                <div class="txt-railway">Partagez cette recette !</div>
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
          <div class="titrebutton montserrat">Ingrédients et préparation</div>
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
          <div class="titrebutton montserrat">Valeurs nutritionnels</div>
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
          <div class="titrebutton montserrat">Vidéo</div>
          <span aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <div class="row">
            <div class="col-md-12">
              <div class="test col-md-6">
                <h2>Ingrédients</h2>
                <table class="table table-striped custab">
                  <% @recipe.ingredients.each do |ingredient| %>
                    <tbody>
                    <tr>
                      <td>- <%= ingredient.name %></td>
                      <td>- <%= ingredient.quantity %> <%= ingredient.unity %></td>
                    </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
              <div class="lib-ingredient-seperator"></div>
              <div class="col-md-6">
                <h2>Préparation</h2>
                <br>
                <p>
                  <strong>Temps de préparation :</strong>
                  <%= @recipe.preparation %>
                </p>
                <p>
                  <strong>Temps de repos :</strong>
                  <%= @recipe.repose %>
                </p>
                <p>
                  <strong>Temps de cuisson :</strong>
                  <%= @recipe.baking %>
                </p>
                <p>
                  <strong>Nombre totale d'étapes :</strong>
                  <%= @recipe.steps.count %>
                </p>

                <% @recipe.steps.each_with_index do |step, index| %>
                    <h3>Etape <%= "#{index + 1}" %></h3>
                    <h5><%= "#{step.content}" %></h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>Valeur</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>Regardez cette video pour apprendre</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/tVbAskuZEm8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>