<!-- - @recipes.find_each do |recipe|
= recipe.name-->
<div class="title"></div>
<div id="loginbox">
  <% @recipes.find_each do |recipe| %>
      <div class="container">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#">
              <li class="zoomarticle">
                <div class="article_big_img">
                  <%= image_tag recipe.photo.url(:medium), class: 'media-object' %>
                </div>
              </li>
            </a>
            <div class="media-body">
              <h4 class="media-heading" style="float: left">
                <%= recipe.name %>
              </h4>
              <p style="float: right">
                Recette par <%= recipe.user.firstname %>
              </p>
              <div style="clear: both"></div>
              <p><%= recipe.description %></p>
              <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i><%= recipe.created_at %> </span></li>
                <li>|</li>
                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                <li>|</li>
                <li>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star-half-o"></span>
                  <span class="fa fa-star-o"></span>
                </li>
                <li>|</li>
                <li>
                  <%= recipe.category.name if recipe.category.present? %>
                </li>
              </ul>
              <%= link_to 'Voir la recette !', recipe %>
              <%= link_to 'Edit', edit_recipe_path(recipe) %>
              <%= link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'} %>

            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<br>

<%= link_to 'New Recipe', new_recipe_path %>